@page
@model BSCare.Pages.advertisingModel
@{
}

<form action="" method="post">
    <button asp-page="Index2" asp-page-handler="Back">Back</button>
</form>

<div class="text-center">
    <h1 class="display-4">ניהול שטחי פרסום בתחנות</h1>
</div>

<div>
    <h5>
        ניהול יעיל של שטחי פרסום בסככות המתנה יכול להגדיל משמעותית את הכנסותיה של הרשות המקומית מפרסום, רווחים אשר יהיה ניתן לייעד להפחתת המיסים או להרחבת הפעילויות השונות למען החברה.  הרחבת המערכת BSCare  ע"י הוספת מודול אשר ינהל את כל הקשור בשטחי פרסום בסככות המתנה הינו מהלך טריוויאלי מכיוון שהמערכת מכילה מידע רב אודות סככות המתנה קיימות ויכולה בקלות לאסוף כל מידע נוסף אשר יתרום לניהול יעיל של שטחי הפרסום בתחנות. שילוב של מודול לניהול שטחי פרסום במערכת BSCare ללא ספק  יביא למיקסום הרווחים של הרשות המקומית מפרסום בסככות המתנה.
    </h5>
</div>