@page
@model BSCare.Pages.maintenanceModel
@{
    ViewData["Title"] = "Maintenance";
}

<form action="" method="post">
    <button asp-page="Index2" asp-page-handler="Back">Back</button>
</form>

<div class="text-center">
    <h1 class="display-4">ניהול חוזי תחזוקה</h1>
</div>

<div>
    <h5>
        כיום ישנן מספר רשויות אשר בוחרות להעביר את אחריות על תחזוקת סככות המתנה לחברות חיצוניות תמורת תשלום או תמורת שטחי פרסום בתחנות וסביבתן. על מנת שהמערכת הקיימת BSCare תוכל לתת מענה כולל בכל הקשור לניהול תחזוקת סככות המתנה ישנו צורך בהוספת מודול אשר יטפל גם במקרים בהם הרשות המקומית בוחרת להעביר את אחריות תחזוקת הסככות לחברה חיצונית.  אפשרות כזאת תאפשר לרשות המקומית להתנהל ביעילות אל מול חברות חיצוניות דבר אשר יביא לצמצם עליות תחזוקה.
    </h5>
</div>