@page
@model BSCare.Pages.operatorModel
@{
}

<form action="" method="post">
    <button asp-page="Index2" asp-page-handler="Back">Back</button>
</form>

<div class="text-center">
    <h1 class="display-4">הגשת תלונה למפעיל הקווים</h1>
</div>

<div>
<h5>
        כיום כשאזרח רוצה להתלונן על  נהג שלא עצר בתחנה או כל תלונה אחרת הוא נדרש להתקשר למוקד הטלפוני ולהמתין זמן רב על הקו. מכיוון שמערכת BSCare  כוללת בתוכה אפליקציית סלולר לדיווח תקלות בסככות המתנה ניתן ע"י הוספת מודול ייעודי, להרחיב את אפליקציית סלולר הקיימת כך שיהיה ניתן למשתמשי תחבורה ציבורית להגיש תלונות על המפעילי קווים בעיר בקלות רבה. מכיוון שהמערכת BSCare  מכילה את המיקום המדויק של כל תחנה בעיר ולמשרד התחבורה קיימים נתונים אודות תנועת אוטובוסים בזמן אמת, שילוב זה יאפשר בקלות לאתר את הנהג שנגדו הוגשה התלונה ובכך לזרז את הטיפול בתלונה.
    </h5>
</div>