@page
@model BSCare.Pages.regularModel
@{
}

<form action="" method="post">
    <button asp-page="Index2" asp-page-handler="Back">Back</button>
</form>

<div class="text-center">
    <h1 class="display-4">יומן תחזוקה קבועה</h1>
</div>

<div>
    <h5>
        תחזוקה מונעת של סככות המתנה יכולה למנוע בעתיד הוצאות גדולות יותר על תיקון תקלה שלא טופלה בזמן. הוספת מודול למערכת הקיימת של BSCare  אשר יאפשר לקבוע תדירות קבוע ומשתנה של תחזוקה מונעת לסככות המתנה יפחית משמעותית את הוצאות תיקון תקלות שלא טופלו בזמן. 
    </h5>
</div>